div#root {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #18171F;
}

.wrapper {
    font-family: "JetBrains Mono", monospace;
    background-color: #18171F;
    color:#E6E5EA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_box {
    padding: 30px;
}

.container {
    background-color: #24232C;
    width: 540px;
    height: 632px;
    max-width: 100%;
    margin: 0 auto;
}

.password_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h1_text{
    font-family: "JetBrains Mono", monospace;
    background-color: #18171F;
    color: #E6E5EA;
    margin-bottom: 20px;
    opacity: 50%;
}

.input{
    font-family: "JetBrains Mono", monospace;
    border: none;
    background: #24242C;
    width:540px;
    height: 80px;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.input_text input[type="text"]{
    padding: 10px;
    margin: 7px;
}

.input_icon {
    color: #A4FFAF;
    cursor: pointer;
}

.input_icon:hover {
    color: #E6E5EA;
}

.span_division{
    background-color: #000;
}

.requirement_box{
    display: flex;
    padding: 10px 0px;
    margin: 2px;
}

.requirement_box label{
    font-weight: 500;
}

.range_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px;
  }
  
  .label_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .range_input {
    width: 80%;
}

.requirement_box input[type="range"]{
    --webkit-appearance: none;
    background: #18171F;
    appearance: none;
    width: 90%;
    height: 7px;
    outline: none;
    border-radius: 0;
}

.requirement_box input[type="range"]::--webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    background: #A4FFAF;
}

.requirement_box input[type="range"]::--webkit-slider-thumb {
    cursor: pointer;
    width: 100%;
    background-color: #18171F;
    border: 1px solid #A4FFAF;
    border-radius: 50%;
    margin-top: -5.5px;
}

.requirement_box input[type="range"]:hover{
    cursor: pointer;
}

.requirement_box input[type="checkbox"] {
    color:#24232C;
    background-color: #A4FFAF;
}

.characterNo {
    font-family: "JetBrains Mono", monospace;
    font-size: 100%S;
    width: 39px;
    height: 42px;
    color: #A4FFAF;
    margin-bottom: 20px;
}
  
  .text_color{
      color: #E6E5EA;
  }
  
  .page_theme{
      color: #A4FFAF;
  }
  
  .slider_color{
      background-color: #A4FFAF;
      width: 100%;
  }
  
  .slider_icon{
      background-color: #E6E5EA;
      cursor: pointer;
  }
  
  .slider_value {
      width: 39px;
      height: 42px;
  }
  
  .slider_icon:hover{
      background-color: #24242C;
      border: 1px solid #A4FFAF;
  }
  
  .checkbox {
      border: 1px solid #E6E5EA;
      background-color:#24242C
  }

  .checkbox:checked{
      background-color: #A4FFAF;
      color: #24242C;
  }
  
  .generate_btn{
      background-color: #A4FFAF;
      cursor: pointer;
      color: #24242C;;
      width: 476px;
      height: 65px;
      border-radius: 0;
  }
  
  .generate_btn:hover{
      background-color: #24242C;
      border: 1px solid #A4FFAF;
      color:#A4FFAF
  }
   
  @media (max-width: 600px){/*small screens -> 768px*/

     .container{
          width: 343px;
          height: 540px;
      }
  
      .generate_btn{
          width: 311px;
          height: 56px;
      }
  
      .input{
          width: 343px;
          height: 64px;
      }
  
      .slider_value {
          width: 29px;
          height: 32px;
      }
  }