/*GENERAL PAGE THEME AND STYLE*/
html#root, body#root {
    background-color: #18171F;
    margin: auto;
    /* max-height: 100%; */
    padding: 1rem;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    background-color: #18171F;
    color:#E6E5EA;
    border: solid 1px tomato;
    height: 100%;
    /* height: 100vh; */
    /* font-family: "JetBrains Mono", monospace;     */
    flex-direction: column;
    box-sizing: border-box;
}

.wrapper_box {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    max-width: 540px;
    max-height: 632px;
    max-width: 100%;
}

.second_container{
    background-color: #24232C;
    padding: 1rem;
}

.password_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_color{
    color: #E6E5EA;
}

.page_theme, .slider_color{
    color: #A4FFAF;
}

.h1_text{
    font-family: "JetBrains Mono", monospace;
    background-color: #18171F;
    color: #E6E5EA;
    margin-bottom: 20px;
    opacity: 50%;
}

/*PASSWORD BOX STYLING*/
.input{
    display: flex;
    font-family: "JetBrains Mono", monospace;
    border: none;
    background: #24242C;
    width: 100%;
    max-width: 540px;
    height: 80px;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.input_text input[type="text"]{
    padding: 10px;
    margin: 7px;
}

.input_icon {
    color: #A4FFAF;
    cursor: pointer;
}

.input_icon:hover {
    color: #E6E5EA;
}

.requirement_box{
    display: flex;
    padding: 10px 0px;
    margin: 2px;
}

.requirement_box label{
    font-weight: 500;
}

.requirement_box input[type="range"] {
    appearance: none;
    background-color: #18171F;
    width: 90%;
    height: 7px;
    outline: none;
    border-radius: 0;
    cursor: pointer;
}

/*RANGE STYLING*/
.range_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px;
}
  
.label_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.range_input {
    width: 90%;
}


.requirement_box input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    color:#24232C;
    cursor: pointer;
    border: 1px solid #E6E5EA;
    margin: 0;
    z-index: 1;
}

.checkbox_icon {
    display: flex;
    border: 1px solid #E6E5EA;
    margin: 0;
    margin-top:50%;
    margin-left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + .checkbox_icon {
    background-color: #A4FFAF;
}
  
.characterNo {
    font-family: "JetBrains Mono", monospace;
    font-size: 100%S;
    width: 39px;
    height: 42px;
    color: #A4FFAF;
    margin-bottom: 20px;
}

  /*HANDLE RANGE SLIDER*/
:root(#slider){
    --range-label-width: 60px;
}

#slider, 
.slider_color {
    --webkit-appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 8px;
    background: #18171F;
}

#slider::-webkit-slider-thumb, 
.slider_color::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background: #E6E5EA;
}

#slider:hover::-webkit-slider-thumb,
.slider_color:hover::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: #18171F;
    border: 1px solid #A4FFAF;
}

#slider::-moz-range-thumb,
.slider_color::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #E6E5EA;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

#slider:hover::-moz-range-thumb,
.slider_color:hover::-moz-range-thumb {
  transform: scale(1.2);
  background: #18171F;
  border: 1px solid #A4FFAF;
}

.checkbox {
      border: 1px solid #E6E5EA;
      background-color:#24242C
}

.checkbox:checked {
      background-color: #A4FFAF;
      color: #24242C;
}
  
.strength_indicator{
    background-color: #18171F;
    width: 90%;
    max-width: 476px;
    height: 72px;
    margin: auto;
    margin-bottom: 12px;
}

.too_weak{
    background-color: #F64A4A;
}

.weak {
    background-color: #FB7C58;
}

.medium{
    background-color: #FBCD65;
}
  
.strong{
    background-color: #A4FFAF;
}

.generate_btn{
    background-color: #A4FFAF;
    cursor: pointer;
    color: #24242C;
    width: 90%;
    max-width: 476px;
    height: 65px;
    border: none;
    border-radius: 0;
    display: flex;
    margin-top: 12px;
    margin: auto;
}
  
.generate_btn:hover{
    background-color: #24242C;
    border: 1px solid #A4FFAF;
    color:#A4FFAF
}
   

  /*BOX RESPONSIVE STYLING WITH MEDIA QUERY*/
@media screen and (max-width:768px) {
    /* TABLET */
    .wrapper{
        padding: 1rem;
    }

     .container{
        width: 100%;
        height: auto;
      }

      .input{
        width: 100%;
    }

    .second_container{
        width: 100%;
        height: auto;
    }
  }

  @media screen and (max-width:365px){
    /* MOBILE */
    .wrapper{
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .container{
        width: 100%;
        height: auto;
    }

    .input{
        width: 100%;
        height: 64px;
    }

    .range_input{
        width: 100%;
    }

    .second_container{
        width: 100%;
        height: auto;
    }

    .mobile{
        width: 100%;
        height: auto;
    }

    .strength_indicator{
        width: 100%;
        height: 56px;
        justify-content: center;
        align-items: center;
        margin: auto;
        bottom: 5px;
    }

    .mob_label{
        width: 100%;
        height: auto;
        margin: auto;
    }

    .mobile_indicator{
        width: 100%;
        height: auto;
        margin:auto;
        font-size: small;
        gap: 2;
    }

    .generate_btn{
        width: 100%;
        height: 56px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
  }